<template>
     
    <lightning-card title="My Applications" icon-name="standard:approval">
        <lightning-datatable key-field="Id"                             
                             data={submissionsList.data}
                             columns={submissionsColumns}
                             onrowaction={handleRowAction}
                             hide-checkbox-column="true"
                             show-row-number-column="true" >

        </lightning-datatable>
    </lightning-card>

    <!-- Modal with form of Submission_Budget_Line creation  -->
    <template if:true={showModal}>
        <c-modal-slds  header-label="Create Proposed Budget" size="medium" onclose={handleCloseModal} oncancel={handleCloseModal} >
            <c-new-submission-budget-line submission={selectedSubmission} ></c-new-submission-budget-line>
        </c-modal-slds>
    </template>
</template>