.THIS {
}
.THIS .heading_1 {
  /*font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';*/
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.THIS .total {
    font-size: 16px;
    font-weight:400;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.THIS .overdue {
    width: 130px;
    height: 37px;
    /*font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';*/
    font-weight:700;
    font-style:normal;
    font-size:16px;
    background-color:red;
    color: #fff;
    border-width: 0px;
    border-radius: 0.3rem;
}

.THIS .lessThan30Days {
    width: 130px;
    height: 37px;
    /*font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';*/
    font-weight:700;
    font-style:normal;
    font-size:16px;
    background-color:rgba(237, 139, 0, 1);
    color: #fff;
    border-width: 0px;
    border-radius: 0.3rem;
}

.THIS .moreThan30Days {
    width: 130px;
    height: 37px;
    /*font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';*/
    font-weight:700;
    font-style:normal;
    font-size:16px;
    background-color:#10dd10;
    color: #fff;
    border-width: 0px;
    border-radius: 0.3rem;
}

.THIS .label {
  /*font-family:'OpenSans', 'Open Sans';*/
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}

.THIS .label_light {
  /*font-family:'OpenSans', 'Open Sans';*/
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#97999B;
  text-align:center;
}

.THIS .card {
    width: 94%;
}