.THIS {
}

.THIS .heading {
    font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  	font-weight:700;
  	font-style:normal;
  	font-size:20px;
}

.THIS .card {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.168627450980392), 0px 1px 1px 1px rgba(231, 234, 234, 1) inset;
    float: left;
    width: 264px;
    height: 236px;
    margin-top:1rem;
    margin-right:3.6rem;
}

.THIS .shadow {
    height: 113.13px;
    background-color: rgba(0, 0, 0, 1);
    top: -113.13px;
    position: relative;
    opacity: .6;
}

.THIS .cardTitleDiv {
    top: -173.13px;;
    position: relative;
    width: 150px;
    line-height: normal;
    left: 20px;
}

.THIS .cardTitle {
    color:white;
    font-family: 'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight:700;
    font-style:normal;
    font-size:16px;
    text-align:left;
}

.THIS .cardHeading1 {
    font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#97999B;
    text-align:left;
}

.THIS .cardHeading2 {
    font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#97999B;
    text-align:center;
}

.THIS .cardText1 {
    font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight:700;
    font-style:normal;
    font-size:16px;
    text-align:left;
    width: 75%;
    float: left;
}

.THIS .linkButton {
    font-family:'OpenSans', 'Open Sans';
    font-weight:400;
    font-style:normal;
    font-size:16px;
    color:#86BC25;
    float: left;
    width: 25%;
}

.THIS .cardText2 {
    font-family: 'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
}

.THIS .cardText3 {
    font-family: 'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    text-align: center;
}

.THIS .detailDiv1 {
    padding: 2px 12px;
    margin-top: 10px;
}

.THIS .detailDiv2 {
    float: left;
    margin-top: 6px;
    margin-right: 7%;
    padding-left: 12px;
}