.THIS {
}

.THIS .heading {
    font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  	font-weight:700;
  	font-style:normal;
  	font-size:20px;
  	text-align:left;
}

.THIS .card {
    width: 32%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.168627450980392), 0px 1px 1px 1px rgba(231, 234, 234, 1) inset;
    float: left;
    margin-right: 0.6rem;
    margin-top: 1rem;
}

.THIS .card2 {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.168627450980392), 0px 1px 1px 1px rgba(231, 234, 234, 1) inset;
    float: left;
    width: 264px;
    height: 236px;
    margin-top:1rem;
    margin-right:3.6rem;
}

.THIS .shadow {
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 1);
    top: -196.25px;
    position: relative;
    opacity: 0.6;
}

.THIS .cardTitleDiv {
    top: -300px;
    position: relative;
    width: 150px;
    line-height: normal;
    left: 20px;
}

.THIS .cardTitle {
    color:white;
    font-family: 'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight:700;
    font-style:normal;
    font-size:16px;
    text-align:left;
}

.THIS .cardHeading {
    font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#97999B;
    text-align:left;
}

.THIS .cardText1 {
    font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight:700;
    font-style:normal;
    font-size:16px;
    text-align:left;

    float: left;
}
.THIS .cardText2 {
    font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-style:normal;
    font-size:12px;
    text-align:left;
    float: left;
}
.THIS .linkButton {
    font-family:'OpenSans', 'Open Sans';
    font-weight:400;
    font-style:normal;
    font-size:16px;
    color:#86BC25;
    float: left;

}

.THIS .cardText2 {
    font-family: 'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
}

.THIS .detailDiv1 {
    padding: 2px 12px;
    margin-top: 1rem;
}

.THIS .detailDiv2 {
    width:30%;
    float:left;
    margin-top: 1rem;
}