.THIS .applicationRow
{
    background: #e8e8e8 !important;
}
.THIS .tableHeader
{
    background: rgb(22, 50, 92) !important;
}
.THIS.pageHeader
{
    
    margin-bottom: .75rem;
    padding: .5rem;
    border-bottom: 1px solid rgb(221, 219, 218) !important;
    
    background-color: rgb(243, 242, 242) !important;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    border: 1px solid rgb(221, 219, 218) !important;
    overflow-x:auto!important;
}
.THIS.scrollerSize {
    height: 400px;
    overflow-y:auto;
}

.THIS .fixedTable
{
     table-layout: fixed;
}

.THIS .scroll-bar-addition-fix{
    overflow-x: auto;
}

.THIS .centerContents {
    text-align:center;
}

.THIS .gs-custom-number-field{
    max-width: 100px !important;
    border: 3px solid black;
}

.THIS .tool-tip-adjust{
    position: absolute;
    left: -15px;
    top: 3px;
}

.THIS .num-column-align-fix{
    text-align: right !important;
}

.THIS .individual-budget-min-width-fix{
    min-width: 110px;
}

.THIS .custom-formatted-number-adjuster{
    border: 1px red solid;
}

.THIS .custom-header-no-border{
    border: none;
    margin: 0px;
}

.THIS .custom-250-chunk{
    min-width: 250px;
    width: 250px !important;
}

.THIS .custom-140-chunk{
    min-width: 140px;
    width: 140px !important;
}

.THIS .custom-115-chunk{
    min-width: 115px;
    width: 115px !important;
}

.THIS .custom-86-chunk{
    min-width: 86px;
    width: 86px !important;
}

.THIS .custom-100-chunk{
    min-width: 100px;
    width: 100px !important;
}

.THIS .custom-110-chunk{
    min-width: 110px;
    width: 110px !important;
}

.THIS .custom-160-chunk{
    min-width: 160px;
    width: 160px !important;
}