.THIS {
}

.THIS .heading_1 {
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}

.THIS .fillOut {
    width: 130px;
    height: 37px;
    font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight:700;
    font-style:normal;
    font-size:16px;
    background-color:rgba(237, 139, 0, 1);
    color: #fff;
    border-width: 0px;
    border-radius: 0.3rem;
}

.THIS .noted {
    width: 130px;
    height: 37px;
    font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight:700;
    font-style:normal;
    font-size:16px;
    background-color:#000;
    color: #fff;
    border-width: 0px;
    border-radius: 0.3rem;
}

.THIS .label {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}

.THIS .label_light {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#97999B;
  text-align:center;
}

.THIS .card {
    width: 94%;
    margin-top: 1rem;
    padding-top:0.6rem;
    padding-bottom: 0.1rem;
    border:none;
    border-radius:5px;
  	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.168627450980392), 0px 1px 1px 1px rgba(231, 234, 234, 1) inset;
}