.THIS {
}
.THIS .headerDiv {
    height: 120px;
    background-color: black;
}
.THIS .subTitleDiv {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 16px;
    color: #ffffff;
}
.THIS .titleDiv {
    position: absolute;
    left: 20px;
    top: 35px;
    font-size: 36px;
}
.THIS .titleFont1 {
    font-family:'Open Sans Bold', 'Open Sans';
    font-weight:700;
    color:#FFFFFF;
}
.THIS .titleFont2 {
    font-family:'Open Sans';
    font-weight:400;
    color:#86BC25;
}
.THIS .searchDiv {
    position: relative;
    top: 48px;
    width: 22%;
    margin: 0 auto;   
}
.THIS .profileDiv {
    position: absolute;
    right: 10%;
    top: 48px;
    width: 235px;
    font-size: 16px;
}