.THIS .greyHead {
	font-family: 'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight: 700;
    font-style: normal;
    color: #97999B;
    text-align: left;
    font-size: 15px;
}

.THIS button {
	border-width: 0px;
    width: 156px;
    height: 31px;
    background: inherit;
    background-color: rgba(237, 139, 0, 1) ;
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
}

.THIS .left-align {
	margin-left: 10px;
}