.THIS {
    height: 170px;
    background-color: black;
    width: 100%;
}

.THIS .topic {
    float:left;
    width:10%;
    margin:2rem;
}

.THIS .chatDiv {
    float:right;
    width:179px;
    height:60px;
    background-color:black;
    margin-right: 72px;
    margin-top: -60px;
    border-radius: 20px 20px 0px 0px;
}

.THIS .text {
    font-family: OpenSans, "Open Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    color: rgb(255, 255, 255);
    height:30px;
}

.THIS .chatText {
    font-family: OpenSans-Bold, "Open Sans Bold", "Open Sans";
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 14px;
    height:30px;
    margin-top: 20px;
    margin-right: 50px;
    float: right;
}

.THIS .chatIcon {
    margin-top: 15px;
    margin-left: 20px;
    float: left;
    background-color: #86bc25;
}



.THIS .topicText {
    font-family: 'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    color: #97999B;
    text-align: left;
    height:30px;
}