.THIS {
    background-color: white;
}

.THIS .label_small {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}

.THIS .u107 {
  border-width:0px;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}

.THIS .primary_button {
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  background-color:#000;
  width:234px;
  height:40px;
}