.THIS {
}

.THIS h1 {
    border-bottom: 1px solid #af3c43;
    font-size: 34px;
    margin-bottom: .2em;
    margin-top: 1.25em;
    padding-bottom: .2em;
}
.THIS p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 11.5px;
}
.THIS.gc-byline {
    font-weight: 700;
    margin-bottom: 30px;
}

.THIS.alert{
    background: #d7faff;
    border-color: #269abc;
}
.THIS.nowrap {
    white-space: nowrap;
}