.THIS .contentPanel:before,
.THIS .contentPanel:after {
    content: " ";
    display: table;
}
.THIS .contentPanel:after {
    clear: both;
}
.THIS .left {
    float: left;
    width: 66%;
}
.THIS .right {
    float: right;
    width: 33%;
    background-color:white;
    padding-bottom:3rem;
}