.THIS {
}
.THIS .heading {
    font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  	font-weight:700;
  	font-style:normal;
  	font-size:20px;
  	text-align:left;
}

.THIS .tab {
    width: 94%;
    font-family: 'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #97999B;
    margin-top: 1rem;
    text-align: left;
    border:none;
    border-radius:5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.168627450980392), 0px 1px 1px 1px rgba(231, 234, 234, 1) inset;
}