.THIS {
}
.THIS.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.THIS.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media(max-width:1350px){
    .THIS .responsiveHide{
        display : none !important;
    }
}