<template>

    <lightning-record-edit-form object-api-name="GS_Application_Budget_Line__c"
                                onsubmit={showSpinner}
                                onsuccess={handleSuccessRecord}
                                onerror={handleErrorRecord}>
        
        <lightning-messages></lightning-messages>
        <lightning-input-field field-name="GS_Submission__c" value={submission.Id} disabled="true"></lightning-input-field>
        <lightning-input-field field-name="GS_Solicitation_Obligation__c" required="true"></lightning-input-field>
        <lightning-input-field field-name="Name" required="true" ant="label-stacked"></lightning-input-field>
        <lightning-input-field field-name="GS_Budget_Category__c" required="true" ant="label-stacked"></lightning-input-field>
        <lightning-input-field field-name="GS_Requested_Amount__c" required="true" ant="label-stacked"></lightning-input-field>

        <lightning-button type="submit" label="Submit New Line" class="slds-m-top_small slds-align_absolute-center"></lightning-button>
    </lightning-record-edit-form>
    
    <br /><hr />
    <!-- Table of Submission_Budget_Lines related to parent submission record -->
    <lightning-card title="Submission Budget Lines" class="slds-m-top_large" icon-name="standard:related_list">
        <lightning-datatable key-field="Id"                             
                             data={submissionLines}
                             columns={submissionListColumns}
                             onrowaction={handleRowAction}
                             hide-checkbox-column="true"
                             show-row-number-column="true" >

        </lightning-datatable>
    </lightning-card>

    <!-- Spinner -->
    <div class="slds-m-around_large">
        <template if:true={spinning}>
            <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
        </template>
    </div>
    
</template>