.THIS {
}
.THIS .shadow {
    height: 113.13px;
    background-color: rgba(0, 0, 0, 1);
    top: -113.13px;
    position: relative;
    opacity: .6;
}
.THIS .cardTitleDiv {
    top: -173.13px;
    position: relative;
    width: 220px;
    line-height: normal;
    left: 20px;
}
.THIS .infoDiv {
    width: 100%;
    bottom: 20px;
    left: 10px;
    position: absolute;
}
.THIS .cardTitle {
    color:white;
    font-family: 'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight:700;
    font-style:normal;
    font-size:16px;
    text-align:left;
}

.THIS .cardText2 {
    font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight:700;
    font-style:normal;
    font-size:11px;
    color:#000;
    text-align:left;
}
.THIS .detailDiv1 {
    padding: 2px 12px;
}

.THIS .detailDiv2 {
    width:30%;
    float:left;
    margin-top: 1rem;
}
.THIS.card {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.168627450980392), 0px 1px 1px 1px rgba(231, 234, 234, 1) inset;
    float: left;
    width: 264px;
    height: 236px;
}
.THIS .cardHeading {
    font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight:700;
    font-style:normal;
    font-size:11px;
    color:#97999B;
    text-align:left;
}

.THIS .cardText1 {
    font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
    font-weight:700;
    font-style:normal;
    font-size:16px;
    text-align:left;
    width: 70%;
    float: left;
}

.THIS .linkButton {
    cursor: pointer;
    font-family:'OpenSans', 'Open Sans';
    font-weight:400;
    font-style:normal;
    font-size:16px;
    color:#86BC25;
    float: left;
    width: 30%;
}