<template>
    
    <lightning-record-edit-form object-api-name="GS_Submission__c"
                        onsubmit={showSpinner}
                        onsuccess={handleSuccessRecord}
                        onerror={handleErrorRecord}>

        <lightning-input-field field-name='Id' value={submissionId} variant="label-hidden"></lightning-input-field>
        <lightning-input-field field-name="Name" required="true"></lightning-input-field>
        <lightning-input-field field-name="GS_Solicitation__c" value={solicitationId} required="true"></lightning-input-field>
        <lightning-input-field field-name="GS_Applicant__c" value=""></lightning-input-field>
        <lightning-input-field field-name="Contact__c"></lightning-input-field>

        <lightning-button type="submit" label="Submit Application" class="slds-m-top_small slds-align_absolute-center"></lightning-button>
    </lightning-record-edit-form>

    <div class="slds-m-around_large">
        <template if:true={spinning}>
            <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
        </template>
    </div>
</template>