<apex:page standardStylesheets="false" showHeader="false" sidebar="false" docType="html-5.0">
<!--    <div class="vlocity via-slds" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-app="GrantApplicationISED">-->
<!--        <vlocity_ps:BusinessProcessComponent strOmniScriptType="Benefit Case"-->
<!--            strOmniScriptSubType="Employment"-->
<!--            strOmniScriptLang="English"-->
<!--            previewMode="{!$CurrentPage.parameters.previewEmbedded}"-->
<!--            verticalMode="{!$CurrentPage.parameters.verticalMode}"-->
<!--            strOmniScriptId="{!$CurrentPage.parameters.designerPreviewId}"-->
<!--            scriptLayout="lightning"/>-->
<!--        <script type="text/javascript">-->
<!--            var modules = ['vlocity-business-process'];-->
<!--            var myModule = angular.module('GrantApplicationISED', modules);-->
<!--        </script>-->

<!--    </div>-->
<!--    <vlocity_ps:VFActionFunction /> -->
</apex:page>