/**** FONTS ****/
main, .main {
	font-family: "Lato";
	font-size: 20px;
	color: black;
	background: #0C718F;
}
h1, .gc-nttvs {
	/*display: none;*/
	font-size: 30px;
}
.story-title {
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: "Lato" !important;
	font-size: 50px;
	font-weight: 700;
	text-decoration: none;
}
.xxsmallview .story-title, .xsmallview .story-title, .mediumview .story-title {
	font-size: 40px;
}
.story-sub-title {
	font-weight: 700;
	font-size: 24px;
}
h2, .h2 {
	color: #FFFFFF;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: "Lato" !important;
	font-size: 40px;
	font-weight: 700;
	text-decoration: none;
}
.h2-section, .h2-section a {
	color: #555;
/*	margin-bottom: 20px;
	margin-top: 20px;*/
	font-family: "Lato" !important;
	font-size: 32px !important;
	font-weight: 700;
	text-decoration: none;
}
.h3, .heading3 {
	color: #666 !important;
	margin: 15px 0 10px 0;
	font-family: "Lato" !important;
	font-size: 30px !important;
	font-weight: 700;
}
.fnt-wht-h3 {
	color: #FFF !important;
	margin: 15px 0 10px 0;
	font-family: "Lato" !important;
	font-size: 30px !important;
	font-weight: 700;
}
.h5 {
	font-size: 14px !important;
	font-weight: normal;
	color: #666 !important;
}
small {
	font-size: 16px;
}
.fnt-wht, .lead.fnt-wht a {
	color: #FFFFFF !important;
}
.lead {
	font-weight: 400;
}
/**** end FONTS ****/

/**** MARGIN, DISPLAYS, PADDING ****/
.ic-col--padded {
	padding-right: 0px;
	padding-left: 0px;
}
.siteforceContentArea .comm-layout-column:not(:empty) {
	padding-top: 0px;
	padding-bottom: 0px;
}
.full {
	width: 100%;
}
.mrgn-lft-0 {
	margin-left: 0px;
}
.mrgn-30 {
	margin-top: 30px;
}
.mrgn-tp-xxl {
	margin-top: 100px;
}
.mrgn-xlarge {
	margin-top: 180px;
}
.padding-tp-10 {
	padding-top: 10px;
}
.padding-lg {
	padding-top: 25px;
}
.display-none, .no-fouc, .ic-hide, .hideEl {
	opacity: 0;
	visibility: hidden;
}
.ic-show {
	opacity: 1;
	visibility: visible;
}
.display {
	-webkit-transition: opacity 0.5s ease-in-out, visibility 0.1s ease-in-out 0.3s;
	-moz-transition: opacity 0.5s ease-in-out, visibility 0.1s ease-in-out 0.3s;
	-o-transition: opacity 0.5s ease-in-out, visibility 0.1s ease-in-out 0.3s;
	transition: opacity 0.5s ease-in-out, visibility 0.1s ease-in-out 0.3s;
	transition: opacity 0.5s ease-in-out, visibility 0.1s ease-in-out 0.3s;
}
/**** end MARGIN, DISPLAYS, PADDING ****/

/**** BUTTONS ****/
.btn-info {
	color: #FFFFFF;
	background-color: #00706b;
	border-color: #FFFFFF;
	border-radius: 0px;
	border-style: solid !important;
	background-size: 100% 800%;
	background-image: linear-gradient(45deg, #034D46 50%, transparent 50%);
	-webkit-transition: background-position 1s, color 1s ease;
	-moz-transition: background-position 1s, color 1s ease;
	-ms-transition: background-position 1s, color 1s ease;
	-o-transition: background-position 1s, color 1s ease;
	transition: background-position 1s, color 1s ease;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
	background-color: #00706b;
	border-color: #FFFFFF;
	border-radius: 0px;
	border-style: solid !important;
	background-image: linear-gradient(45deg, #034D46 51%, transparent 50%);
	background-position: 0 100%;
	-webkit-transition: background-position 1s, color 1s ease;
	-moz-transition: background-position 1s, color 1s ease;
	-ms-transition: background-position 1s, color 1s ease;
	-o-transition: background-position 1s, color 1s ease;
	transition: background-position 1s, color 1s ease;
}
.btn-success {
	color: #FFFFFF;
	background-color: #00706b;
	border-color: #FFFFFF;
	border-radius: 0px;
	border-style: solid !important;
	background-size: 100% 1500%;
	background-image: linear-gradient(45deg, #034D46 50%, transparent 50%);
	-webkit-transition: background-position 1s, color 1s ease;
	-moz-transition: background-position 1s, color 1s ease;
	-ms-transition: background-position 1s, color 1s ease;
	-o-transition: background-position 1s, color 1s ease;
	transition: background-position 1s, color 1s ease;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
	background-color: #00706b;
	border-color: #FFFFFF;
	border-radius: 0px;
	border-style: solid !important;
	background-image: linear-gradient(45deg, #034D46 51%, transparent 50%);
	background-position: 0 100%;
	-webkit-transition: background-position 1s, color 1s ease;
	-moz-transition: background-position 1s, color 1s ease;
	-ms-transition: background-position 1s, color 1s ease;
	-o-transition: background-position 1s, color 1s ease;
	transition: background-position 1s, color 1s ease;
}
.btn-default {
	border-radius: 0px;
	border-style: solid !important;
}
.sm-bttn {
	height: 29px !important;
	padding: 0 24px;
}
/**** end BUTTONS ****/

/****
   HOMEPAGE QUESTION FLOW
****/

/**** ANIMATIONS ****/
.hide-image {
	opacity: 0;
	visibility: hidden;
}
.mediumview .animation-box, .largeview .animation-box, .xlargeview .animation-box {
	width: 600px;
	height: 40px;
	font-weight: 700;
	font-size: 24px;
	margin-top: 20px;
}
.xxsmallview .animation-box, .xsmallview .animation-box, .smallview .animation-box {
	font-weight: 700;
	font-size: 24px;
	margin-top: 20px;
}
#right-animation {
	overflow: hidden;
	position: relative;
	min-height: 800px;
	z-index: 200;
	-webkit-transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out 0.5s;
	-moz-transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out 0.5s;
	-o-transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out 0.5s;
	transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out 0.5s;
	transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out 0.5s;
}
 @keyframes fadeInOut {
	 0% {
	 opacity: 0;
	}
	 15% {
	 opacity: 1;
	}
	 85% {
	 opacity: 1;
	}
	 100% {
	 opacity: 1;
	}
}
@keyframes secondlastFadeInOut {
	 0% {
	 opacity: 0;
	}
	 5% {
	 opacity: 1;
	}
	 95% {
	 opacity: 1;
	}
	 100% {
	 opacity: 1;
	}
}
@keyframes lastFadeInOut {
	 0% {
	 opacity: 0;
	}
	 20% {
	 opacity: 1;
	}
	 85% {
	 opacity: 1;
	}
	 100% {
	 opacity: 1;
	}
}
.first-text {
	opacity: 0;
	color: #FFF;
	animation-name: fadeInOut;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.second-text {
	opacity: 0;
	color: #FFF;
	animation-name: fadeInOut;
	animation-delay: 1.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.third-text {
	opacity: 0;
	color: #FFF;
	animation-name: fadeInOut;
	animation-delay: 2.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.forth-text {
	opacity: 0;
	color: #FFF;
	animation-name: secondlastFadeInOut;
	animation-delay: 3.5s;
	animation-duration: 3.8s;
	animation-fill-mode: forwards;
}
.fifth-text {
	opacity: 0;
	color: #FFF;
	animation-name: lastFadeInOut;
	animation-delay: 4.5s;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}
#animation_container {
	background-color: #0C718F;
	position: relative;
	min-height: 800px
}
#dom_overlay_container {
	padding-top: 40px;
	z-index: 300;
	margin-top: -800px;
	position: relative;
}
@keyframes fade-in-top {
	 0% {
	 opacity: 1;
	 transform: translateY(0px) rotate(60deg);
	}
	 100% {
	 opacity: 1;
	 transform: translateY(1200px) rotate(60deg);
	}
}
@keyframes fade-in-box {
	 0% {
	 opacity: 0;
	}
	 100% {
	 opacity: 1;
	}
}
.box-over {
	position: absolute;
	left: 150px;
	opacity: 1;
	animation-name: fade-in-top;
	animation-delay: 5.5s;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	background-color: #0C718F;
	min-width: 1000px;
	min-height: 2000px;
	overflow: hidden;
	z-index: 100;
	top: -800px;
	webkit-animation: 0;
}
.box-line-animation {
	display: block;
}
.red-bar {
	position: absolute;
	left: 150px;
}
.white-box {
	top: 110px;
	position: relative;
	left: 30px;
	z-index: 150;
	opacity: 0;
	animation-name: fade-in-box;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.xxsmallview #dom_overlay_container, .xsmallview #dom_overlay_container, .smallview #dom_overlay_container {
	padding-top: 20px;
	position: relative;
}
/**** end ANIMATIONS ****/

/**** STORY/FORM ****/
a.hide-outline {
	outline: none;
	text-decoration: none !important;
}
/*#story {
	outline: none;
}*/
.placeholder {
	color: rgba(255, 255, 255, 0.4) !important;
}
.resizing_select {
	width: 20%;
}
.xxsmallview .resizing_select {
	width: 120px;
}
.nl-form [type="text"], .nl-form [type="number"] {
	width: 200px;
}
.nl-form option {
	font-size: 18px;
	color: #333;
	background: #fff;
}
.nl-form select option {
	height: 45px;
}
.xxsmallview .nl-form select, .xsmallview .nl-form select {
	height: 29px;
}
#resizing-select-template option, .nl-form .answered option, .smaller-lbl {
	font-size: 18px;
}
#at-least placeholder, #at-least:-ms-input-placeholder, #naics-input:-ms-input-placeholder, #up-to:-ms-input-placeholder, #percent-funded:-ms-input-placeholder, #employees:-ms-input-placeholder {
 color: rgba(255, 255, 255, 0.4) !important;
/* font-size: 30px;*/
}
input::placeholder, select::placeholder, input:-ms-input-placeholder, input[placeholder] {
 color: rgba(255, 255, 255, 0.4) !important;
}
[placeholder], input[placeholder] {
 color: rgba(255, 255, 255, 1) !important;
}

::-webkit-input-placeholder, :-ms-input-placeholder, ::placeholder {
 color: rgba(255, 255, 255, 0.4) !important;
 font-weight:400 !important;
 font-size:30px !important;
}

.nl-form {
	color: #FFFFFF;
	position: relative;
	font-size: 30px;
}
.xxsmallview .nl-form, .xsmallview .nl-form {
	font-size: 20px !important;
	color: #000;
}
.answer {
	background: none;
	border: none;
	border-bottom: 3px solid #FFFFFF;
}
.xxsmallview .nl-form .answer, .xsmallview .nl-form .answer, .nl-form-story .answer {
	background: none;
	border: none;
	border-bottom: 1px solid #FFFFFF;
	font-size: 20px;
}
#percent-funded {
	width: 58px;
}
/*#percent {
	max-width: none;
	text-overflow: clip;
}
.percent {
  display: inline-block;
  position: relative;
}*/

.nl-form label {
	font-weight: 400;
	/*margin-right: 5px;*/
	margin-bottom: 0px;
	margin-top: 5px;
	font-size: 30px;
	color: #fff;
}
.xxsmallview .nl-form label, .xsmallview .nl-form label {
	font-size: 18px;
	width: 100%;
}
/* Modern browsers */
select.ic-select {
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
/* IE */
select.ic-select::-ms-expand {
 display: none;
}
/* For Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
/* IE no highlight for selected option*/
select::-ms-value {
 background: transparent;
}
.filters select::-ms-value {
 color: #333;
}
select.ic-select:focus {
	background-color: transparent;
	outline: none;
}
input:focus {
	outline: none;
}
[is="lightning-input"][lightning-input_input], lightning-input[lightning-input_input] {
    display: inline-block;
}
.xxsmallview .question, .xsmallview .question {
	margin-top: 15px !important;
}
.question--invisible {
	display: none;
	opacity: 0;
}
.question--visible {
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}
@keyframes fadein {
	 from {
	opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Firefox < 16 */
@-moz-keyframes fadein {
	 from {
	opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	 from {
	opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Internet Explorer */
@-ms-keyframes fadein {
	 from {
	opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Opera < 12.1 */
@-o-keyframes fadein {
	 from {
	opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.nl-form .wb-toggle {
	display: none;
}
.answered:hover {
	opacity: 1;
}
.ic-dropdown {
	position: relative;
}
.ic-dropdown--placeholder {
	color: rgba(255, 255, 255, 0.4)
}
.ic-dropdown option {
	color: #333;
}
.nl-form input {
	height: 45px;
	margin-bottom: 5px;
}
.ic-input {
	background-color: rgba(255, 255, 255, 0);
    border: 0px solid #d4d4d4;
}
.ic-input:focus, .ic-input:active {
    border:0px;
	background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px;
    color: #fff;
}
.xxsmallview .nl-form input, .xsmallview .nl-form input {
	height: auto;
	margin-bottom: 5px;
}
.nl-form input, .nl-form select {
	border-radius: 0;
}
.nl-form input {
	padding: 0;
}
/*@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ic-multicheck__input,  .ic-bubbles__input {
		padding-right: 23px;
		background: url("http://www.ic.gc.ca/eic/site/080.nsf/vwimages/arrow-down-app.png/$file/arrow-down-app.png") right center no-repeat !important;
	}
	.ic-dropdown__select {
		padding-right: 15px;
		background: url("http://www.ic.gc.ca/eic/site/080.nsf/vwimages/arrow-down-app.png/$file/arrow-down-app.png") right center no-repeat !important;
	}
	.xxsmallview .nl-form .ic-dropdown__select, .xsmallview .nl-form .ic-dropdown__select,  .xxsmallview .nl-form .ic-multicheck__input, .xsmallview .nl-form .ic-multicheck__input,  .xxsmallview .nl-form .ic-bubbles__input, .xsmallview .nl-form .ic-bubbles__input {
		padding-right: 23px;
		background: url("http://www.ic.gc.ca/eic/site/080.nsf/vwimages/arrow-down-sm.png/$file/arrow-down-sm.png") right center no-repeat !important;
	}
	.nl-form input {
		height: 45px;
	}
	.xxsmallview .nl-form input, .xsmallview .nl-form input {
		height: 29px;
	}
}*/
.answered .ic-dropdown {
	width: auto;
}
.ic-dropdown__arrow {
	display: none !important;
	pointer-events: none;
	position: absolute;
	right: 13px;
	top: 5px;
}
.question {
	color: #FFFFFF;
	transition: opacity 5s linear, transform .45s cubic-bezier(.175, .885, .32, 1.275);
	transform-origin: left center;
}
.question--current {
	margin-top: 25px;
	margin-bottom: 35px;
	z-index: 1;
	transform: inherit !important;
}
/* IE's <select> elements don't like scale transitions... */
@media all and (-ms-high-contrast:none) {
	/* IE10 */
	.question {
		transition: opacity .15s linear;
	}
	
		/* IE11 */
		*::-ms-backdrop,  .question {
	 transition: opacity .15s linear;
	}
	 *::-ms-backdrop,  .home .question.answered {
	 transform: scale(0.75) !important;
	}
	 *::-ms-backdrop,  .question.question--current {
	 opacity: 1;
	}
}
.answered {
	opacity: 1;
	transform: scale(0.75);
	margin-top: 20px;
	position: relative;
}
.xxsmallview .answered, .xsmallview .answered {
	opacity: 1;
	transform: scale(1);
	margin-top: 40px;
}
.nl-form .answered option {
	font-size: 18px;
}
.normal {
	margin: 0 0 11.5px;
	line-height: 1.4375;
	color: #333;
	font-size: 20px;
}
.smallview .answered .normal, .mediumview .answered .normal, .largeview .answered .normal, .xlargeview .answered .normal {
	font-size: 30px !important;
}
#q7:focus {
	color: #0C718F;
}
.q7-gray {
	color: #aaa;
}
#wb-auto-5, #wb-auto-6 {
	margin-top: -25px;
	position: relative;
}
#wb-auto-7 {
	margin-top: -15px;
}
.smallview #wb-auto-3.answered, .mediumview #wb-auto-3.answered, .largeview #wb-auto-3.answered, .xlargeview #wb-auto-3.answered {
	margin-top: -35px;
}
.smallview #wb-auto-4.answered, .mediumview #wb-auto-4.answered, .largeview #wb-auto-4.answered, .xlargeview #wb-auto-4.answered {
	margin-top: -45px;
}
.smallview #wb-auto-5.answered, .mediumview #wb-auto-5.answered, .largeview #wb-auto-5.answered, .xlargeview #wb-auto-5.answered {
	margin-top: -20px;
}
.smallview #wb-auto-6.answered, .mediumview #wb-auto-6.answered, .largeview #wb-auto-6.answered, .xlargeview #wb-auto-6.answered {
	margin-top: -70px;
}
.lang-only {
	display: none;
	margin-bottom: -5px;
	margin-top: 5px;
}
.select-wrapper {
	position: relative;
	display: inline-block;/*   width: 20%;   */
}
/* Truncating select (text-overflow: ellipsis; only works in Firefox for this element) */
select.ic-overflow {
	padding-right: 51px;
}
.dropdown-arrow-ellipsis {
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	bottom: 0;
	top: 0;
	right: 0;
	pointer-events: none;
	touch-action: none;
}
/*.xxsmallview .nl-form .dropdown-arrow, .xsmallview .nl-form .dropdown-arrow {
	padding-right: 20px !important;
	background: url("http://www.ic.gc.ca/eic/site/080.nsf/vwimages/arrow-down-sm.png/$file/arrow-down-sm.png") right center no-repeat !important;
}
.xxsmallview .nl-form .dropdown-ellipsis, .xsmallview .nl-form .dropdown-ellipsis {
	background: url("http://www.ic.gc.ca/eic/site/080.nsf/vwimages/arrow-sm-ellipses.png/$file/arrow-sm-ellipses.png") right center no-repeat !important;
	padding-right: 13px;
	margin-top: 12px;
	padding-left: 2px;
}*/
.xxsmallview .nl-form .dropdown-comma-mask, .xsmallview .nl-form .dropdown-comma-mask {
	position: absolute;
	display: inline-block;
	background: #0C718F;
	width: 4px;
	height: 12px;
	left: -5px;
	top: 14px;
	z-index: 2;
}
/*.dropdown-arrow {
	background: url("http://www.ic.gc.ca/eic/site/080.nsf/vwimages/arrow-down-app.png/$file/arrow-down-app.png") right center no-repeat !important;
	padding-right: 31px;
}
.dropdown-ellipsis {
	background: url("http://www.ic.gc.ca/eic/site/080.nsf/vwimages/select-ellipsis.png/$file/select-ellipsis.png") right center no-repeat !important;
	padding-right: 20px;
	margin-top: 17px;
	box-shadow: -1px -4px 0 #0C718F;
}*/
.dropdown-comma-mask {
	position: absolute;
	display: inline-block;
	background: #0C718F;
	width: 6px;
	height: 12px;
	left: -7px;
	top: 26px;
	border: 1px solid #0C718F;
	z-index: 2;
}
.ic-multicheck__input, .ic-truncate {
	max-width: 410px;
	text-overflow: ellipsis;
	padding-right: 30px !important;
}
select.ic-truncate {
	text-overflow: clip; /* CSS default */
	max-width: 200px;
	width: 100%;
}
@media screen and (min-width: 320px) {
	select.ic-truncate {
		max-width: 250px;
	}
}
@media screen and (min-width: 480px) {
	select.ic-truncate {
		max-width: 320px;
	}
}
@media screen and (min-width: 600px) {
	select.ic-truncate {
		max-width: 410px;
	}
}
.field-no-truncate {
	max-width: none !important;
	text-overflow: inherit !important;
}
.js-story-link {
	text-decoration: none !important;
}
.nl-form form {
	min-height: 485px;
	position: relative;
}
/* Form element wrappers */
.nl-form .ic-form-element, .nl-form .ic-form-element__control, .nl-form .ic-select_container {
	display: inline;
}

.ic-select_container .ic-select {
	padding-left: 0px;
}
.nl-form .ic-select_container::before, .nl-form .ic-select_container::after {
	border: none;
	content: "";
	display: none;
}
.nl-form .ic-select option {
	background-color: #fff;
	color: #000;
	font-size: 18px;
}
.nl-form legend {
	color: #fff;
	font-size: 30px;
}
.xxsmallview .nl-form legend, .xsmallview .nl-form legend {
	font-size: 20px;
}
.nl-form .amounts {
	display: none;
}
.nl-form .amounts--visible {
	display: inline;
}
.nl-form .amounts input {
	width: 200px;
}
.nl-form .inputAmount {
	color: black;
	width: 25%;
}
.nl-form .neededServices {
	border: none;
	border-left: none;
	border-bottom: 4px solid #FFFFFF;
	background: white;
	border-color: white;
	display: inline-block;
	color: black;
}
.nl-form .ic-select_container {
	position: relative;
	width: 200px;
}
.nl-form .serviceTypeDiv {
	background: #0C718F;
	margin: 5px;
	color: white;
	font-size: 24px;
	display: inline-block;
	padding: 3px 10px;
}
.nl-form .resizeDiv {
	width: 50%;
}
.nl-form .ic-icon-text-default {
	fill: black;
}
.nl-form .ic-icon_large .ic-icon--large {
	width: 2rem;
	height: 3rem;
}
.no-arrows::-webkit-inner-spin-button, .no-arrows::-webkit-outer-spin-button {
 -webkit-appearance: none !important;
 margin: 0 !important;
 -moz-appearance:textfield !important;
}
#template-text, #template-text-no-truncate {
	display: none;
}
/* "Unset" custom colors when selecting text */
.nl-form #template-text, .nl-form #template-text-no-truncate, .nl-form #resizing-select-template {
	display: none;
	font-size: 30px;
}
.xxsmallview .nl-form #template-text, .xxsmallview .nl-form #template-text-no-truncate, .xxsmallview .nl-form #resizing-select-template,
.xsmallview .nl-form #template-text, .xsmallview .nl-form #template-text-no-truncate, .xsmallview .nl-form #resizing-select-template,
.nl-form-story #template-text, .nl-form-story #template-text-no-truncate, .nl-form-story #resizing-select-template {
	display: none;
	font-size: 20px;
}
/** MULTISELECTS AND BUBBLES **/
.xxsmallview .nl-form .ic-bubbles__options, .xsmallview .nl-form .ic-bubbles__options {
	top: 28px;
}
.xxsmallview .nl-form .ic-multicheck__options, .xsmallview .nl-form .ic-multicheck__options, .nl-form-story .ic-multicheck__options {
	top: 20px;
}
.ic-multicheck .answer {
	text-overflow: ellipsis;
}
.ic-bubbles .answer {
	padding-right: 28px !important;
}
/** Multiselects **/
.ic-multicheck__options {
	border-radius: 0px;
	display: none;
	left: -10px;
	opacity: 0;
	padding: 5px 10px;
	pointer-events: none;
	position: absolute;
	top: 39px;
	transition: opacity .15s linear;
	font-size: 18px;
}
.ic-multicheck__options .container {
	display: block;
	padding: 0;
	font-size: 18px !important;
}
.ic-multicheck__option-container {
	background: #FBFCFE;
	border-radius: 0px;
	box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.22);
	display: block;
	padding: 15px;
}
.ic-multicheck__options--active {
	display: block;
	opacity: 1;
	pointer-events: auto;
	z-index: 999;
}
.ic-multicheck__input {
	width: 200px;
}
.ic-multicheck__input-options-wrapper {
	padding-top: 0px;
	position: relative;
}
.ic-multicheck__label {
	background: #0C718F;
	border-radius: 0px;
	color: #FFFFFF;
	cursor: pointer;
	padding: 3px 10px;
}
.ic-multicheck small {
	color: #0C718F;
}
.xxsmallview .ic-multicheck__label, .xsmallview .ic-multicheck__label {
	display: block;
}
.ic-multicheck__label .fa {
	display: none;
}
.ic-multicheck__ok:focus, .ic-multicheck__ok:hover {
	background: #FFFFFF;
}
.ic-multicheck__ok {
	background: #FFFFFF;
	border: 2px solid #0C718F;
	border-radius: 0px;
	color: #0C718F;
	display: block;
	padding: 2px 30px;
	margin-top: 7px;
	font-size: 18px;
}
:disabled ~ .ic-multicheck__label {
	background: gray;
	cursor: not-allowed;
}
:checked ~ .ic-multicheck__label .fa {
	display: inline;
}
/** Bubbles **/
.ic-bubbles {
	padding-top: 0px; /* was set to 30px, testing that it doesn't overlap the other questions now. */
	position: relative;
}
.ic-bubbles__option:last-child {
	margin-right: 0;
}
.ic-bubbles__option {
	background: #0C718F;
	border: 0;
	border-radius: 0px;
	color: #FFFFFF;
	font-size: 18px;
	margin-right: 5px;
	padding: 3px 10px;
	cursor: pointer;
}
.ic-bubbles__options {
	background: #FFFFFF;
	border-radius: 0px;
	box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.22);
	font-size: 18px;
	left: 0;
	opacity: 0;
	padding: 5px 10px 10px 10px;
	pointer-events: none;
	position: absolute;
	top: 46px;
	transition: opacity .15s linear;
	display: none;
}
.smallview .ic-bubbles__option, .xsmallview .ic-bubbles__option, .xxsmallview .ic-bubbles__option {
	display: block;
	text-align: center;
	top: 46px;
}
.smallview .ic-multicheck__options, .xsmallview .ic-multicheck__options, .xxsmallview .ic-multicheck__options {
	position: static;
}
.ic-bubbles__options--active {
	opacity: 1;
	pointer-events: auto;
	z-index: 1;
	display: inline;
}
.ic-bubbles__input {
	width: 200px;
}
.ic-bubbles__input-options-wrapper {
	display: inline-block;
	position: relative;
	white-space: nowrap;
}
.nl-form .ic-multicheck, .nl-form .ic-bubbles {
	display: inline;
	position: relative;
}
.nl-form .ic-multicheck fieldset, .nl-form .ic-bubbles fieldset {
	border: 0;
	display: inline-block;
	padding: 0;
}
.nl-form .ic-multicheck__question, .nl-form .ic-bubbles__question {
	float: left;
	margin: 0px;
	padding: 0;
	width: auto;
}
.xxsmallview .nl-form .ic-multicheck__input, .xsmallview .nl-form .ic-multicheck__input, .xxmsallview .nl-form .ic-bubbles__input, .xmsallview .nl-form .ic-bubbles__input, .nl-form-story .ic-multicheck__input, .nl-form-story .ic-bubbles__input {
	border-bottom: 1px solid #fff;
}
.nl-form .ic-multicheck small {
	color: #0C718F;
	font-size: 16px;
}
.nl-form .ic-multicheck__label, .nl-form .ic-bubbles__label {
	background: #0C718F;
	border-radius: 0px;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0;
	margin-right: 3px;
	margin-top: 5px;
	padding: 3px 10px;
	font-size: 18px;
}
.nl-form .ic-multicheck__option, .nl-form .ic-bubbles__label {
	font-size: 18px !important;
}
.ic-multicheck__label:focus, .ic-multicheck__label:hover, :checked ~ .ic-multicheck__label, .ic-multicheck__checkbox:focus ~ .ic-multicheck__label, .ic-multicheck__checkbox:hover ~ .ic-multicheck__label {
	background: #034D46;
}
.nl-form :disabled ~ .ic-multicheck__label {
	background: gray;
	cursor: not-allowed;
}
.nl-form .ic-multicheck__checkmark {
	display: none;
}
.nl-form :checked ~ .ic-multicheck__label .ic-multicheck__checkmark {
	display: inline;
	margin-left: 5px;
}
/** end MULTISELECTS AND BUBBLES **/

/**Percent Tooltip**/
.ic-tip {
	display: inline-block;
	white-space: nowrap;
	position: relative;
	left: -90px;
	top: 25px;
}
.information-box-wrapper {
	position: absolute;
	z-index: 9;
}
.information-box-wrapper--hover, .information-box-wrapper--clicked, .information-box-wrapper--active {
	display: block;
}
.information-box {
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.2);
	padding: 5px 5px 1px 5px;
	position: absolute;
	font-size: 16px;
	color: #0B617A;
}
.information-box p {
	margin: 0 0 5px;
}
/**endPercent Tooltip**/
/****end STORY FORM****/
/****
   end HOMEPAGE QUESTION FLOW
****/


/****
   WD-TO-DO CLEANUP:
   RESULTS - LIST VIEW PAGE
 + ADVANCED - GROUP VIEW PAGE
****/

/* IC SURVEY  */
.ic-survey {
	display: none;
	padding: 15px;
	position: absolute;
	z-index: 999;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	right: -10px;
	width: 320px;
	margin-top: 8px;
	margin-right: 5px;
	box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.8);
	outline: none;
}
.ic-survey__reset {
	display: none;
}
.ic-survey--more-for-you {
	background-color: #00706b;
	color: #fff;
	margin-left: 4px;
	margin-top: 40px;
}
.ic-survey--more-for-you .notch {
	border-bottom: 10px solid #00706b;
}
.advanced input, .ic-survey input {
	color: #5c5c5c;
}
.ic-survey fieldset {
	border: 0px;
}
.ic-survey #errors-surveyForm h2, #email_content_modal #errors-default h2, #signinForm #errors-signinForm h2, #ic-signin-create #errors-createForm h2 {
	font-size: 16px;
	color: #333;
	margin-bottom: 0 !important;
}
.ic-survey #errors-surveyForm ul, #signinForm #errors-signinForm ul, #ic-signin-create #errors-createForm ul {
	display: none;
}
.ic-survey #errors-surveyForm.alert, #signinForm #errors-signinForm.alert, #ic-signin-create #errors-createForm.alert {
	margin-bottom: 23px !important;
}
#email-error, #signin-email-error, #profile-email-error {
	margin-top: 15px;
	font-size: 80%;
}
.ic-survey__fields {
	margin-bottom: 10px;
}
.ic-survey legend {
	color: #fff;
	font-size: 14px;
	padding: 0;
	margin-bottom: 5px;
	border-top: 0px solid #e5e5e5;
}
.ic-survey label {
	font-weight: normal;
}
.ic-survey__cancel {
	background: 0;
	border: 0;
	text-decoration: underline;
	margin-top: 10px;
}
/* end IC SURVEY */

/** 
******CDN survey******
**/
.cdn-survey {
	display: none;
	z-index: 1000;
	position: relative;
	margin: 0 auto;
	margin: 0 15px;
	font-family: Helvetica, Arial, sans-serif;
}
.cdn-survey p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}
.cdn-survey .mfp-close {
	font-size: 20px;
	font-weight: 400;
}
.cdn-survey .btn-primary, .cdn-survey .btn-default {
	border-radius: 4px;
	border-style: outset;
}
#cdn-survey-close {
	height: 42px;
	line-height: 42px;
}
@media screen and (min-width: 480px) {
	.cdn-survey {
		position: fixed;
		bottom: 4.9em;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding: 15px;
	}
	.cdn-survey .panel {
		box-shadow: 0 0 15px;
	}
	.cdn-survey .panel:focus {
		outline: 1px dotted #fff;
	}
	#cdn-survey-close {
		top: 15px;
		right: 15px;
	}
}
@media screen and (min-width: 480px) and (max-width: 767px) {
	.cdn-survey {
		margin: 0 15px;
	}
	#cdn-survey-close {
		right: 30px;
	}
}
@media screen and (min-width: 768px) {
	.cdn-survey {
		width: 720px;
	}
}
@media screen and (min-width: 992px) {
	.cdn-survey {
		width: 470px;
		left: 470px;
		bottom: 4.2em;
	}
}
@media screen and (min-width: 1200px) {
	.cdn-survey {
		width: 570px;
		left: 570px;
	}
}
html:not(.xxsmallview) .cdn-survey {
	position: fixed;
	bottom: 4.9em;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 15px;
}
html:not(.xxsmallview) .cdn-survey .panel {
	box-shadow: 0 0 15px;
}
html:not(.xxsmallview) .cdn-survey .panel:focus {
	outline: 1px dotted #fff;
}
html:not(.xxsmallview) #cdn-survey-close {
	top: 15px;
	right: 15px;
}
html.xsmallview .cdn-survey {
	margin: 0 15px;
}
html.smallview .cdn-survey {
	width: 720px;
}
html.smallview #cdn-survey-close {
	right: 30px;
}
html.mediumview .cdn-survey {
	width: 470px;
	left: 470px;
	bottom: 4.2em;
}
html.largeview .cdn-survey, html.xlargeview .cdn-survey {
	width: 570px;
	left: 570px;
	bottom: 4.2em;
}
/* end CDN survey */

.slds-col_padded, .slds-col--padded {
    padding-right: 0px;
    padding-left: 0px;
}

.js-story-lead--dovtype-not-found, .email-results__reset {
	display: none;
}
h3.feature-program, .feature-program {
	font-size: 14px !important;
	font-weight: normal;
	margin-top: 0;
}
.feature-title {
	margin-bottom: 10px;
	margin-top: 15px;
	font-family: "Lato" !important;
	font-size: 40px !important;
	font-weight: 900;
}
.largeview .feature-title, .xlargeview .feature-title, .xxlargeview .feature-title {
	margin-top: 12px;
}
.smallview .feature-title, .mediumview .feature-title {
	margin-top: 0px;
}
.feature-sub {
	font-size: 26px !important;
	font-weight: 700;
}
.largeview .feature-sub, .xlargeview .feature-sub, .xxlargeview .feature-sub {
	line-height: 29px;
}
.features a {
	color: #fff !important;
}
.features {
	margin-top: 15px;
}
.banner {
	min-height: 210px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 8px;
}
.mediumview .banner {
	padding-top: 26px;
}
.xxsmallview .banner, .xsmallview .banner, .smallview .banner {
	padding-top: 16px;
	margin-bottom: 20px;
}
.mrgn-30 {
	margin-top: 30px;
}
.mrgn-xlarge {
	margin-top: 180px;
}
.xxsmallview .features, .xsmallview .features, .smallview .features {
	margin-top: 0px;
}
.cIC_StoryCmp #submitGroupSection {
	display:none;
}
.nl-form-story #submitSection {
	display:none;
}
.nl-form-story form {
	min-height: auto;
	line-height: 1.2;
}
.nl-form-story option, .xxsmallview .nl-form option, .xsmallview .nl-form option {
	font-size: 100%;
}
.nl-form-story .ic-select, .xxsmallview .nl-form .ic-select, .xsmallview .nl-form .ic-select {
	height: 29px;
}
.nl-form-story, .nl-form-story label, .nl-form-story legend {
	font-size: 20px !important;
	color: #fff;
}
.nl-form-story .question {
	display: inline;
}
.nl-form-story .question--invisible {
	display: inline;
	opacity: 1;
}
.nl-form-story .hide-grp-pg {
	display:none;
}
.nl-form-story .ic-bubbles__options {
	top: 28px;
}
.nl-form-story .ic-multicheck__options {
	top: 20px;
}
.nl-form-story .answer {
	background: none;
	border: none;
	border-bottom: 1px solid #FFFFFF;
	font-size: 20px;
}
/*.nl-form-story label {
	margin-top: 0px;
}*/

.nl-form-story .q5 {
	display: none !important;
	opacity: 0 !important;
}
.nl-form-story input {
	height: auto;
	margin-bottom: 5px;
}
/* No fading on the results page */
.nl-form-story .question--visible {
	-webkit-animation: none; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: none; /* Firefox < 16 */
	-ms-animation: none; /* Internet Explorer */
	-o-animation: none; /* Opera < 12.1 */
	animation: none;
}
/*@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.nl-form-story .ic-dropdown__select,  .nl-form-story .ic-multicheck__input,  .nl-form-story .ic-bubbles__input {
		padding-right: 23px;
		background: url("http://www.ic.gc.ca/eic/site/080.nsf/vwimages/arrow-down-sm.png/$file/arrow-down-sm.png") right center no-repeat !important;
	}
	.nl-form-story input {
		height: 29px;
	}
}*/

.nl-form-story .answered {
	opacity: 1;
	transform: scale(1);
	margin-top: 0px;
}

.nl-form-story .ic-multicheck__label {
	font-size: 18px !important;
    padding: 5px 10px;
}
.nl-form-story .ic-bubbles__option {
	margin-bottom: 5px !important;
}
/*.nl-form-story .dropdown-arrow {
	background: url("/app/scr/innovation/images/arrow-down-sm.png") right center no-repeat !important;
	padding-right: 16px;
}
.nl-form-story .dropdown-ellipsis {
	background: url("/app/scr/innovation/images/arrow-sm-ellipses.png") right center no-repeat !important;
	padding-left: 2px;
	padding-right: 13px;
	margin-top: 12px;
	box-shadow: -1px -2px 0 #00706b;
}*/
.nl-form-story .dropdown-comma-mask {
	position: absolute;
	display: inline-block;
	background: #0C718F;
	width: 6px;
	height: 12px;
	left: -7px;
	top: 26px;
	border: 1px solid #0C718F;
	z-index: 2;
}
/* Truncating select (text-overflow: ellipsis; only works in Firefox for this element) */
.nl-form-story select.ic-overflow {
	padding-right: 20px;
}
/*.nl-form-story .ic-dropdown__select.ic-overflow {
	background: url("/app/scr/innovation/images/arrow-down-sm-ellipses.png") right center no-repeat !important; 
	padding-right: 30px;
}*/
.ic-icon-animate {
	display: none;
	opacity: 0;
}
.ic-icon-animate--active {
	display: block;
	animation: popin 1s;
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out 0.5s;
	-moz-transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out 0.5s;
	-o-transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out 0.5s;
	transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out 0.5s;
	transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out 0.5s;
}
.lightGreyPanel .needMost .ic-icon-animate {
	display: block;
	animation: popin 2s;
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out 0.5s;
	-moz-transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out 0.5s;
	-o-transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out 0.5s;
	transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out 0.5s;
	transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out 0.5s;
}
/**
 * DOVs
 */
.dov a, .dov a:link, .dov a:active, .dov a:hover, .dov a:visited, .dov a:focus {
    text-decoration: none !important;
    outline: none !important;
}
.dov {
	position: relative;
}
.dov__toggle, .dov__toggle:visited, .dov__toggle:focus {
	color: #444;
	text-decoration: none !important;
	outline: none;
}
.dov__title {
	cursor: pointer;
	font-size: 24px !important;
	font-weight: 700;
	line-height: 125%;
	margin: 10px 10px 20px 10px;
	position: relative;
}
.dov__toggle:hover, .dov--expanded .dov__toggle:visited, .dov--expanded .dov__toggle, .dov--expanded .dov__toggle:focus, .dov--expanded .dov__toggle:hover, .dov--expanded .dov__toggle:active {
	color: #335075 !important;
}
.mediumview .dov__title {
	font-size: 20px;
	line-height: 115%;
}
.smallview .dov__title {
	font-size: 23px;
	line-height: 118%;
}
.dov__name {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px;
	font-weight: normal;
	line-height: 125%;
	margin: 10px 15px 0 10px;
}
.slider .dov-slide {
	margin-left: 15px;
	margin-right: 15px;
}
.slider .dov__remove img {
	display: inline;
}
.dov__remove {
	padding: 5px 5px 10px 10px;
	text-decoration: none !important;
}
.feature-box {
	min-height: 210px;
	padding: 12px;
	position: absolute;
	top: 0px;
	left: 0;
	margin-left: 15px;
}
.xxsmallview .feature-box, .xsmallview .feature-box, .smallview .feature-box {
	position: relative;
	top: 0px;
	left: 0;
	margin-left: 0px;
	min-height: 20px;
	margin-bottom: 15px;
}
.display-none, .no-fouc {
	opacity: 0;
	visibility: hidden;
}
.display {
	-webkit-transition: opacity 0.5s ease-in-out, visibility 0.1s ease-in-out 0.3s;
	-moz-transition: opacity 0.5s ease-in-out, visibility 0.1s ease-in-out 0.3s;
	-o-transition: opacity 0.5s ease-in-out, visibility 0.1s ease-in-out 0.3s;
	transition: opacity 0.5s ease-in-out, visibility 0.1s ease-in-out 0.3s;
	transition: opacity 0.5s ease-in-out, visibility 0.1s ease-in-out 0.3s;
}
.more-drop {
	color: #666;
	min-height: 20px;
	padding: 15px;
	margin-bottom: 10px;
	margin-right: 15px;
	margin-left: 15px;
	border: 2px solid #666;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.more-drop:hover {
	background-color: #666;
	cursor: pointer;
}
.more-drop-advanced {
	min-height: 20px;
	padding: 15px;
	margin-bottom: 20px;
	margin-right: 15px;
	margin-left: 15px;
	border: 2px solid #FFFFFF;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	background-color: #00706b;
	color: #FFFFFF;
}
.more-drop-advanced:hover {
	background-color: #034D46;
	cursor: pointer;
}
/*#Funding-category .dov--expanded {
	background-image: url("http://www.ic.gc.ca/eic/site/080.nsf/vwimages/funding-chevron.png/$file/funding-chevron.png");
}*/
#Funding-category .callout-dov, #Funding-category .ic-survey, .advanced .ic-survey {
	background-color: #1c5275;
	color: #FFFFFF;
}
#Funding-category .callout-dov .notch, #Funding-category .ic-survey .notch, #Funding-category .dov-callout-notch .notch {
	color: #1c5275;
	border-bottom: 10px solid #1c5275;
}
#Funding-category .dov__name {
	color: #195176;
}
#Funding-category .banner, #Funding-category .more-drop:hover {
	background-color: #1c5275;
	color: #FFFFFF;
	border: 2px solid #1c5275;
}
/*#Wage_subsidies_and_interns-category .dov--expanded {
	background-image: url("http://www.ic.gc.ca/eic/site/080.nsf/vwimages/hiring-chevron.png/$file/hiring-chevron.png");
}*/
#Wage_subsidies_and_interns-category .callout-dov, #Wage_subsidies_and_interns-category .ic-survey {
	background-color: #61385e;
	color: #FFFFFF;
}
#Wage_subsidies_and_interns-category .callout-dov .notch, #Wage_subsidies_and_interns-category .ic-survey .notch, #Wage_subsidies_and_interns-category .dov-callout-notch .notch {
	color: #61385e;
	border-bottom: 10px solid #61385e;
}
#Wage_subsidies_and_interns-category .dov__name {
	color: #61385e;
}
#Wage_subsidies_and_interns-category .banner, #Wage_subsidies_and_interns-category .more-drop:hover {
	background-color: #61385e;
	color: #FFFFFF;
	border: 2px solid #61385e;
}
/*#More_for_you-category .dov--expanded {
	background-image: url("http://www.ic.gc.ca/eic/site/080.nsf/vwimages/more-chevron.png/$file/more-chevron.png");
}*/
#More_for_you-category .callout-dov, #More_for_you-category .ic-survey {
	background-color: #555555;
	color: #FFFFFF;
}
#More_for_you-category .callout-dov .notch, #More_for_you-category .ic-survey .notch, #More_for_you-category .dov-callout-notch .notch {
	color: #195176;
	border-bottom: 10px solid #555555;
}
#More_for_you-category .dov__name {
	color: #555555;
}
#More_for_you-category .banner, #More_for_you-category .more-drop:hover {
	background-color: #555555;
	color: #FFFFFF;
	border: 2px solid #555555;
}
/*#Expert_Advice-category .dov--expanded {
	background-image: url("http://www.ic.gc.ca/eic/site/080.nsf/vwimages/expert-chevron.png/$file/expert-chevron.png");
}*/
#Expert_Advice-category .callout-dov, #Expert_Advice-category .ic-survey {
	background-color: #17708f;
	color: #fff;
}
#Expert_Advice-category .callout-dov .notch, #Expert_Advice-category .ic-survey .notch, #Expert_Advice-category .dov-callout-notch .notch {
	color: #17708f;
	border-bottom: 10px solid #17708f;
}
#Expert_Advice-category .dov__name {
	color: #17708f;
}
#Expert_Advice-category .banner, #Expert_Advice-category .more-drop:hover {
	background-color: #17708f;
	color: #fff;
	border: 2px solid #17708f;
}
/*#Loans_and_capital_investments-category .dov--expanded {
	background-image: url("http://www.ic.gc.ca/eic/site/080.nsf/vwimages/loans-chevron.png/$file/loans-chevron.png");
}*/
#Loans_and_capital_investments-category .callout-dov, #Loans_and_capital_investments-category .ic-survey {
	background-color: #12756e;
	color: #FFFFFF;
}
#Loans_and_capital_investments-category .callout-dov .notch, #Loans_and_capital_investments-category .ic-survey .notch, #Loans_and_capital_investments-category .dov-callout-notch .notch {
	color: #12756e;
	border-bottom: 10px solid #12756e;
}
#Loans_and_capital_investments-category .dov__name {
	color: #12756e;
}
#Loans_and_capital_investments-category .banner, #Loans_and_capital_investments-category .more-drop:hover {
	background-color: #12756e;
	color: #FFFFFF;
	border: 2px solid #12756e;
}
/*#Partnering_and_collaboration-category .dov--expanded {
	background-image: url("http://www.ic.gc.ca/eic/site/080.nsf/vwimages/partnering-chevron.png/$file/partnering-chevron.png");
}*/
#Partnering_and_collaboration-category .callout-dov, #Partnering_and_collaboration-category .ic-survey {
	background-color: #034d46;
	color: #FFFFFF;
}
#Partnering_and_collaboration-category .callout-dov .notch, #Partnering_and_collaboration-category .ic-survey .notch, #Partnering_and_collaboration-category .dov-callout-notch .notch {
	color: #034d46;
	border-bottom: 10px solid #034d46;
}
#Partnering_and_collaboration-category .dov__name {
	color: #034d46;
}
#Partnering_and_collaboration-category .banner, #Partnering_and_collaboration-category .more-drop:hover {
	background-color: #034d46;
	color: #FFFFFF;
	border: 2px solid #034d46;
}
/*#tax_credits-category .dov--expanded {
	background-image: url("http://www.ic.gc.ca/eic/site/080.nsf/vwimages/tax-chevron.png/$file/tax-chevron.png");
}*/
#tax_credits-category .callout-dov, #tax_credits-category .ic-survey {
	background-color: #d14545;
	color: #FFFFFF;
}
#tax_credits-category .callout-dov .notch, #tax_credits-category .ic-survey .notch, #tax_credits-category .dov-callout-notch .notch {
	color: #d14545;
	border-bottom: 10px solid #d14545;
}
#tax_credits-category .dov__name {
	color: #b01f28;
}
#tax_credits-category .banner, #tax_credits-category .more-drop:hover {
	background-color: #d14545;
	color: #FFFFFF;
	border: 2px solid #d14545;
}
.callout-dov a {
	color: #FFFFFF;
}
.more-dovs a, .more-dovs a:visited {
	color: #444;
	text-decoration: none;
}
.more-dovs a:hover, .more-dovs a:focus {
	color: #FFFFFF;
	text-decoration: none;
}
.more-dovs {
	position: relative;
	bottom: 0;
	clear: both;
}
.iss-slide-bottom {
	border-bottom: 10px solid #157AC0;
}
.iss-slide-link {
	min-height: 100px !important;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 18px;
}
.callout-feature, .callout-story {
	position: relative;
	padding: 18px 20px;
	background-color: #00706b;
}
.callout-feature {
	margin-top: -75px;
	margin-left: 30px;
	margin-right: 30px;
}
.callout-dov {
	position: relative;
	padding: 18px 20px;
	/*margin-left: 15px;
	margin-right: 15px;*/
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
.dov-callout-notch {
	position: relative;
	margin-right: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
.callout-story {
	margin-top: -10px;
	margin-bottom: 20px;
}
.xxsmallview .callout-story, .xsmallview .callout-story {
	padding: 18px 10px;
	margin-left: -10px;
	margin-right: -10px;
}
.callout-close-results {
	color: #FFF;
	padding-right: 5px;
	font-size: 0.8em;
	opacity: 0.8;
}
.callout-dov .notch, .callout-feature .notch, .callout-story .notch, .ic-survey .notch, .dov-callout-notch .notch, .info-notch .notch, .ic-signin .notch {
	position: absolute;
	top: -9px;
	left: 20px;
	margin: 0;
	border-top: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #FFFFFF;
	padding: 0;
	width: 0;
	height: 0;
	/* ie6 height fix */
	font-size: 0;
	line-height: 0;
	/* ie6 transparent fix */
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color = pink);
}
.callout-story .info-notch .notch {
	left: 20px !important;
	border-bottom-color: #fff;
}
.advanced .info-notch .notch {
	left: 20px !important;
	border-bottom-color: #0B617A;
}
.callout-feature .notch {
	left: 90px !important;
}
.callout-story .notch {
	left: 145px !important;
	color: #00706b;
	border-bottom: 10px solid #00706b;
}
.callout-dov .notch, .dov-callout-notch .notch {
	left: 49.1% !important;
}
.ic-survey .notch {
	left: 292px !important;
}
.xxsmallview .callout-story .notch, .xsmallview .callout-story .notch {
	left: 48% !important;
}
.collapse.in {
	outline: none;
}
.more-drop .notch {
	position: absolute;
	margin-top: 43px;
	left: 49.1%;
	border-bottom: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #666;
	padding: 0;
	width: 0;
	height: 0;
	/* ie6 height fix */
	font-size: 0;
	line-height: 0;
	/* ie6 transparent fix */
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color = pink);
}
.more-drop:hover .notch {
	border-top: 10px solid #444;
}
.dov-drop:focus {
	outline: #F2F2F2 auto 5px !important;
	outline-color: #F2F2F2;
	outline-style: auto;
	outline-width: 5px;
}
.lightGreyPanel {
	background-color: rgba(235, 235, 235, 1);
	padding: 0px 25px 5px 25px;
	/*margin-bottom: 15px;*/
}
.xxsmallview .lightGreyPanel, .xsmallview .lightGreyPanel {
	padding: 0px 5px 5px 5px;
}
.darkGreyPanel {
	/*background-color: rgba(235, 235, 235, .8);*/
	margin-top: 0;
	padding: 25px;
	padding-bottom: 20px;
}
.lightGreyPanel h2, .darkGreyPanel h2 {
	margin-top: 0;
	margin-bottom: 15px;
}
.how-it-works ol {
	padding-left: 18px;
}
.program-dov-description {
	font-size: 20px;
	font-weight: 500;
	margin-top: 30px;
}

@media ( min-width : 768px) {
#promos .wb-eqht section {
	width: 49%;
}
}
@media ( min-width : 1200px) {
#promos .wb-eqht section {
	width: 33%;
}
}
@media ( min-width : 768px) {
#drop-dov-section .wb-eqht section {
	width: 49%;
}
}
.promo-img {
	border: 2px solid #FFF;
}
.hidelink {
	border-left: solid 2px #ababab;
	font-size: 50%;
	padding-left: 5px;
}
.shadow-blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
 filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}
.remove-dov, .remove-banner {
	cursor: pointer;
	color: #333 !important;
	opacity: .8;
}
.remove-dov:hover, .remove-banner:hover {
	color: #333 !important;
	opacity: .5;
}
.remove-dov:after, .remove-banner:after, .banner:after, .dov-slide:after {
	display: none;
}
.shaddow {
	-webkit-box-shadow: 3px 3px 5px 0px rgba(178, 178, 178, 1);
	-moz-box-shadow: 3px 3px 5px 0px rgba(178, 178, 178, 1);
	box-shadow: 3px 3px 5px 0px rgba(178, 178, 178, 1);
}
.toolbar {
	padding: 0px 10px 0px 10px;
}
.toolbar, .toolbar .btn-group {
	float: right;
}
#email_content_modal .modal-footer {
	display: none;
}
#email_content_modal a:not([href]) {
	color: #284162;
	text-decoration: underline;
	cursor: pointer;
}
.modal-dialog {
	width: 378px;
	margin: 30px auto;
}
.modal-body {
	padding: 10px;
}
/** 
******Advanced search page******
**/
.advanced .checkbox {
	font-size: 16px;
}
.advanced fieldset {
	border-top: 0px solid #e5e5e5;
	padding-top: 0px;
	margin-bottom: 5px;
}
.advanced legend {
	margin-bottom: 5px;
	font-weight: 600;
	font-family: "Lato";
	font-size: 20px;
}
.advanced .hover-back {
	color: red;
}
.xxsmallview .advanced select, .xsmallview .advanced select {
	width: 200px;
}
.smallview .advanced select {
	min-width: 300px;
}
.mediumview .advanced select {
	width: 270px;
}
.largeview .advanced select, .xlargeview .advanced select, .xxlargeview .advanced select {
	width: 330px;
}
.advanced .placeholder {
	color: rgba(0, 0, 0, 0.4) !important;
}
.advanced #postalcode:-ms-input-placeholder, .advanced #naics-input:-ms-input-placeholder, .advanced #amount:-ms-input-placeholder, .advanced #amount2:-ms-input-placeholder, .advanced #percent:-ms-input-placeholder, .advanced #employees:-ms-input-placeholder {
 color: rgba(0, 0, 0, 0.4) !important;
}
.advanced #postalcode, .advanced #naics-input, .advanced #amount, .advanced #amount2, .advanced #percent, .advanced #employees {
	color: #5c5c5c !important;
}
.advanced input::placeholder, .advanced select::placeholder {
 color: rgba(0, 0, 0, 0.4) !important;
}
.advanced .information-box-wrapper {
	position: relative;
	left: -14px
}
.advanced .information-box {
	background-color: #0B617A;
	box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.2);
	padding: 5px 5px 1px 5px;
	position: absolute;
	font-size: 16px;
	color: #FFF;
}
.xxsmallview .advanced .filters.well-sm, .xsmallview .advanced .filters.well-sm, .smallview .advanced .filters.well-sm {
	padding-bottom: 0px;
}
.advanced .filters details[open] > summary {
	border-bottom: 0px solid #ddd;
	list-style-type: disclosure-open;
	margin-bottom: .25em;
}
.advanced .filters details summary {
	border: 0px solid #ddd;
	padding: 0px;
}
.advanced .filters details[open] {
	border: 0px solid #ddd;
}
.advanced .filters input[type="checkbox"], .advanced .filters input[type="radio"] {
	margin: 6px 0 0 -20px;
}
.padding-fix {
	padding: 10px;
}
.advanced-sort label {
	font-weight: 700;
	margin: 0 0 0 0;
}
.advanced-results {
	padding: 10px;
	background-color: #f9f9f9;
	margin-bottom: 10px;
	position: relative;
}
.advanced-results:hover {
	background: #fff;
}
.advanced-results .remove-dov {
	opacity: 0.4;
}
.advanced-results .remove-dov:hover {
	opacity: 0.2;
}
.advanced-results .ic-survey {
	background-color: #00706b;
	color: #fff;
	right: -7px;
	top: 30px;
}
.advanced-results .ic-survey .notch {
	border-bottom-color: #00706b;
}
.advanced-results i {
	margin: -10px 2px 0 0;
	float: right;
}
.advanced-results i img {
	padding: 10px;
}
.advanced-results h3 {
	font-size: 14px !important;
	font-weight: normal;
	color: #666 !important;
}
.advanced-results .h4, .heading4 {
	font-size: 24px !important;
	font-family: "Lato" !important;
}
.answer-advanced {
	background: none;
	border: none;
	border-bottom: 2px solid #ccc;
}
.formLegend {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 10px;
}
a.promos, a.promos:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
a.promos:hover, a.promos:focus {
	color: #FFFFFF;
	text-decoration: underline;
}
.callout-dov .btn-primary, .list-drop .btn-primary, .form .btn-primary, #email_content_modal .btn-primary, .ic-survey__submit, .ic-signin__submit {
	color: #333;
	background-color: #ffd64f;
	border-color: #ffd64f;
	border-radius: 0px;
	border-style: solid !important;
	background-size: 100% 1500%;
	background-image: linear-gradient(45deg, #FFCC47 50%, transparent 50%);
	-webkit-transition: background-position 1s, color 1s ease;
	-moz-transition: background-position 1s, color 1s ease;
	-ms-transition: background-position 1s, color 1s ease;
	-o-transition: background-position 1s, color 1s ease;
	transition: background-position 1s, color 1s ease;
}
.callout-dov .btn-primary:hover, .callout-dov .btn-primary:focus, .list-drop .btn-primary:hover, .list-drop .btn-primary:focus, .form .btn-primary:hover, .form .btn-primary:focus, #email_content_modal .btn-primary:hover, #email_content_modal .btn-primary:focus, .ic-survey__submit:hover, .ic-survey__submit:focus, .ic-signin__submit:hover, .ic-signin__submit:focus {
	color: #333;
	background-color: #ffd64f;
	border-color: #ffd64f;
	border-radius: 0px;
	border-style: solid !important;
	background-image: linear-gradient(45deg, #FFCC47 51%, transparent 50%);
	background-position: 0 100%;
	-webkit-transition: background-position 1s, color 1s ease;
	-moz-transition: background-position 1s, color 1s ease;
	-ms-transition: background-position 1s, color 1s ease;
	-o-transition: background-position 1s, color 1s ease;
	transition: background-position 1s, color 1s ease;
}
.list-drop {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	outline: none;
}
.a-list-chevron-toggle i {
	margin-top: 7px;
}
.a-list-chevron-toggle {
	color: #333;
	text-decoration: none;
}
.a-list-chevron-toggle:hover, .a-list-chevron-toggle:focus {
	color: #333;
	text-decoration: underline;
}
.close-arrow {
	margin-top: -15px;
	margin-right: -5px;
}
/* For dov drop downs being pulled from Excel */
.advanced-results h3.dov-drop {
	color: #333 !important;
	font-family: "Lato" !important;
	font-size: 22px !important;
	font-weight: 700;
}
.mrgn-brdr-fix {
	margin-left: -1px;
}
.mrgn-tp-icon-fix {
	margin-top: 19px;
}
.xxsmallview .callout-dov .brdr-lft, .xsmallview .callout-dov .brdr-lft, .smallview .callout-dov .brdr-lft, .xxsmallview .callout-dov .brdr-rght, .xsmallview .callout-dov .brdr-rght, .smallview .callout-dov .brdr-rght {
	border: 0px;
}
/****
   end WD-TO-DO CLEANUP:
   RESULTS - LIST VIEW PAGE
 + ADVANCED - GROUP VIEW PAGE
****/

/* User profile */
.ic-signin {
	/*    display: none;*/
	padding: 15px;
	position: absolute;
	z-index: 999;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	right: -10px;
	width: 430px;
	margin-top: 40px;
	margin-right: 5px;
	box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.8);
	outline: none;
	background: #333;
	color: #fff;
}
.create {
	position: absolute;
	width: 600px;
}
.ic-signin fieldset {
	padding-top: 0px;

}
.ic-signin .notch {
	left: 378px;
	color: #333;
	border-bottom: 10px solid #333;
}
.create .notch {
	left: 548px !important;
	color: #333;
	border-bottom: 10px solid #333;
}
.profile input, .ic-signin input {
	color: #5c5c5c;
}
.ic-signin fieldset {
	border: 0px;
}
.ic-signin #errors-surveyForm h2, #email_content_modal #errors-default h2 {
	font-size: 16px;
	color: #333;
	margin-bottom: 0 !important;
}
.ic-signin #errors-surveyForm ul {
	display: none;
}
.ic-signin #errors-surveyForm.alert {
	margin-bottom: 23px !important;
}
.ic-signin__fields {
	margin-bottom: 10px;
}
.ic-signin legend {
	color: #fff;
	font-size: 20px;
	padding: 0;
	margin-bottom: 15px;
	border-top: 0px solid #e5e5e5;
}
.ic-signin label {
	font-weight: normal;
	display: block;
}
.ic-signin__secondary {
	background: 0;
	border: 0;
	text-decoration: underline;
	margin-top: 10px;
	margin-right: 0px;
	font-size: 14px;
}
.ic-signin__action {
	padding-left: 0px;
	color: #ffd64f;
	background: 0;
	border: 0;
	text-decoration: underline;
	margin-top: 10px;
	font-size: 14px;
}
.ic-signin__submit {
	padding: 10px;
	margin-left: 15px;
	font-weight: 700;
	color: #333 !important;
}
#createForm .not-found {
	font-size: 18px;
	margin-bottom: 10px;
}
.not-found i {
	color: #ff0000;
}
#inline_email_modal.modal-dialog {
	width: 50%;
	border-radius: 0px;
}
.xxsmallview #inline_email_modal.modal-dialog, .xsmallview #inline_email_modal.modal-dialog {
	width: 100%;
}
#inline_email_modal .modal-body {
	background: #333;
	padding: 20px !important;
}