.THIS {
    background-color: white;
}

.THIS .label_small {
	font-family:'OpenSans', 'Open Sans';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	text-align:left;
}

.THIS .label_light {
    font-family: 'OpenSans', 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #97999B;
    text-align: left;
}