<template>
    <lightning-record-edit-form object-api-name="GS_Scorecard__c" record-id={scoreCardId}
                                onsubmit={onSubmitHandler}
                                onsuccess={handleSuccessRecord}
                                onerror={handleErrorRecord}>

        <lightning-input-field field-name={submissionScore} required="true" ant="label-stacked"></lightning-input-field>
        <lightning-input-field field-name={submissionMaxScore}  required="true" ant="label-stacked"></lightning-input-field>
        <lightning-input-field field-name={submissionStatus} disabled="true" ant="label-stacked"></lightning-input-field>

        <lightning-button type="submit" label="Submit Review" class="slds-m-top_small slds-align_absolute-center"></lightning-button>
        </lightning-record-edit-form>

        <div class="slds-m-around_large">
        <template if:true={spinning}>
        <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
        </template>
        </div>
</template>